// sass-lint:disable no-css-comments

/**
 * Partial for adding standard breakpoint variables
 * Has not been updated since 2016, but it still works and I still love it!
 * http://breakpoint-sass.com/
 * https://github.com/at-import/breakpoint
 * https://www.npmjs.com/package/breakpoint-sass
 */

// @import "breakpoint";
// Breakpoint control variables
// $breakpoint-to-ems: true;

// Breakpoints.
$xxs: 0;
$xs: 320px;
$sm: 544px;
$md: 800px;
$lg: 960px;
$xl: 1100px;
$max-site-width: 100%;

// Special breakpoint just for use in the site header.
$site-header-breakpoint: 650px;

// Breakpoint variables.
$xxs-only: $xxs ($xs - 1);
$xxs-up: $xxs;
$xxs-down: 0 $xxs;

$xs-only: $xs ($sm - 1);
$xs-up: $xs;
$xs-down: 0 $xs;

$sm-only: $sm ($md - 1);
$sm-up: $sm;
$sm-down: 0 $sm;

$md-only: $md ($lg - 1);
$md-up: $md;
$md-down: 0 $md;

$lg-only: $lg ($xl - 1);
$lg-up: $lg;
$lg-down: 0 $lg;

$xl-only: $xl;
$xl-up: $xl;
$xl-down: 0 $xl;

// Used to display breakpoint info directly on the site.
// Simply include a div or span with the 'breakpoint-info' class.
// Sometimes useful!
.breakpoint-info {
  &:after {
    @include breakpoint($xxs) {
      content: 'breakpoint $xxs';
    }
    @include breakpoint($xs) {
      content: 'breakpoint $xs';
    }
    @include breakpoint($sm) {
      content: 'breakpoint $sm';
    }
    @include breakpoint($md) {
      content: 'breakpoint $md';
    }
    @include breakpoint($lg) {
      content: 'breakpoint $lg';
    }
    @include breakpoint($xl) {
      content: 'breakpoint $xl';
    }
  }
}
