// Importing the Google fonts of your choice.
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&family=Barlow:wght@300;400;500;600&display=swap');


// Typography.
$font-choice--base: 'Barlow';
$font-choice--heading: 'Barlow Condensed';

$font-family--base: $font-choice--base, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family--heading: $font-choice--heading, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-weight--base: 400;
$font-weight--heading: 500;


// TODO: Decide on a gutter sizing method!
// Gutters (used for padding and margins).
$gutter--default: 1em;
$gutter--narrow: $gutter--default * .5;
$gutter--narrower: $gutter--narrow * .5;
$gutter--narrowest: $gutter--narrower * .5;
$gutter--wide: $gutter--default * 1.25;
$gutter--wider: $gutter--wide * 1.25;
$gutter--widest: $gutter--wider * 1.25;

// More gutter settings (not sure which method I prefer for this site)
$gutter--md: $gutter--default;
$gutter--xxs: .125em;
$gutter--xs: .25em;
$gutter--sm: .5em;
$gutter--md: 1em;
$gutter--lg: 1.25em;
$gutter--xl: 1.5em;
$gutter--xxl: 1.75em;


// Colors.
$c--white: #fff;
$c--black: #000;
$c--primary: desaturate(#4b748b, 12%);
$c--secondary: #303155;

$c--gray: mix($c--white, $c--black, 50%);

$c--gray--light:    mix($c--white, $c--black, 65%);
$c--gray--lighter:  mix($c--white, $c--black, 85%);
$c--gray--lightest: mix($c--white, $c--black, 95%);

$c--gray--dark:     mix($c--white, $c--black, 30%);
$c--gray--darker:   mix($c--white, $c--black, 40%);
$c--gray--darkest:  mix($c--white, $c--black, 10%);

$c--primary--light:    lighten($c--primary, 10%);
$c--primary--lighter:  lighten($c--primary--light, 8%);
$c--primary--lightest: lighten($c--primary--lighter, 10%);
$c--primary--dark:     darken($c--primary, 10%);
$c--primary--darker:   darken($c--primary--dark, 10%);
$c--primary--darkest:  darken($c--primary--darker, 10%);

$c--headline: desaturate($c--primary, 55%);
$c--headline: mix($c--headline, white, 75%);

$c--secondary--light:    lighten($c--secondary, 10%);
$c--secondary--lighter:  lighten($c--secondary--light, 10%);
$c--secondary--lightest: lighten($c--secondary--lighter, 10%);
$c--secondary--dark:     darken($c--secondary, 10%);
$c--secondary--darker:   darken($c--secondary--dark, 10%);
$c--secondary--darkest:  darken($c--secondary--darker, 10%);

$c--link: $c--primary--dark;
$c--link--hover: $c--primary--darker;

$c--scrollbar-base: desaturate($c--primary, 8%);
$c--scrollbar-track-background: lighten($c--scrollbar-base, 53%);
$c--scrollbar-track-shadow: lighten($c--scrollbar-base, 40%);
$c--scrollbar-thumb-background: lighten($c--scrollbar-base, 20%);
$c--scrollbar-thumb-shadow: lighten($c--scrollbar-base, 15%);
$c--scrollbar-thumb-background--hover: lighten($c--scrollbar-base, 15%);
$c--scrollbar-thumb-shadow--hover: lighten($c--scrollbar-base, 10%);


// Font sizing.
$html-font-size: 16px;
$font-size--md: 1em;

$font-size--xxs: $font-size--md * .75;
$font-size--xs:  $font-size--md * .85;
$font-size--sm:  $font-size--md * .9;
$font-size--lg:  $font-size--md * 1.125;
$font-size--xl:  $font-size--md * 1.5;
$font-size--xxl: $font-size--md * 2;
$font-size--3xl: $font-size--md * 2.5;

$line-height--base: 1.5;
$line-height--small: 1.2;
$line-height--heading: .95;


// Font colors.
$font-color--base: mix($c--black, transparent, 80%);
$font-color--heading: mix($c--primary--darkest, transparent, 90%);


// Main menu variables.
$menu-item--padding--v: 4px;
$menu-item--padding--h: 4px;
$menu-item--margin--r: 2px;
$menu-item--margin--b: 2px;

$menu-item--bg: mix($c--primary--lightest, white, 30%);
$menu-item--bg--hover: mix($menu-item--bg, white, 80%);
$menu-item--bg--active: transparent;

$menu-item--color: $c--primary;
$menu-item--color--hover: $c--primary--light;

$menu-item--padding--v: .125em;
$menu-item--padding--h: 0;
$menu-item--margin--r: 1em;
$menu-item--margin--b: 2px;

$menu-item--sec--bg: $c--secondary--darker;
$menu-item--sec--bg--hover: lighten($menu-item--sec--bg, 20%);
$menu-item--sec--bg--active: lighten($menu-item--sec--bg, 10%);


// Main menu (dropdown) variables.
$menu-item--fontsize: 1.125em;
$menu-item--lineheight: $menu-item--fontsize * 1.2;

$menu-item--pad-t: $menu-item--fontsize * .35;
$menu-item--pad-r: $menu-item--pad-t * 1.125;
$menu-item--pad-b: $menu-item--pad-t;
$menu-item--padding: $menu-item--pad-t $menu-item--pad-r $menu-item--pad-b;

$menu-item--margin: $menu-item--fontsize * .5;

$menu-item-caret--top: $menu-item--fontsize * .35;
$menu-item-caret--margin-l: $menu-item--fontsize * .5;
$menu-item-caret--margin-b: $menu-item--fontsize * .05;

$menu-height: $menu-item--lineheight + $menu-item--pad-t + $menu-item--pad-b;

$menu-system-margin-top: $menu-item--fontsize * .5;
$menu-system-margin-left: $menu-item--fontsize * .5;


// Viewport-based font sizing variables.
$threshold-px: 14px;
$switch-point: $md;
$vw-rate-up: 1.5vw;
$vw-rate-down: 1.0vw;

$up-size: baseFontSize($threshold-px, $switch-point, $vw-rate-up, 'add');
$down-size: baseFontSize($threshold-px, $switch-point, $vw-rate-down, 'subtract');
