{% if site_name %}
  <h1 class="site-name">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  </h1>
{% endif %}

{% if site_slogan %}
  <div class="site-slogan"><div class="inner">{{ site_slogan }}</div></div>
{% endif %}
