.page-wrapper {
  padding: .5rem;
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
  grid-template-rows: max-content max-content 1fr max-content;
  grid-template-columns: 1fr;
  grid-gap: .25rem;
  background-color: $c--primary--lightest;
  height: 100vh;

  &__episode {
    grid-template-areas:
      "header header"
      "nav nav"
      "content map"
      "footer footer";
    grid-template-columns: 1fr 2fr;
  }
}

.region {
  padding: 0;
  margin: 0;
  border: 1px solid $c--primary--lighter;
  border-radius: 0;
  background-color: $c--gray--lightest;

  &--header {
    grid-area: header;
    background-color: mix($c--primary, $c--white, 10%);
  }

  &--navigation {
    grid-area: nav;
    background-color: mix($c--primary, $c--white, 25%);
  }

  &--info {
    display: none;
    background-color: mix($c--primary, $c--white, 10%);
  }

  &--content {
    grid-area: content;
    flex: 1;
    overflow-y: scroll;
  }

  &--footer {
    grid-area: footer;
    background-color: mix($c--primary, $c--white, 15%);
  }
}

.region-inner {
  padding: .5rem;
}

.page-node-type-page .region--content > .region-inner {
  padding: $gutter--wide $gutter--wider;
}
