.region--header {
  display: grid;
  grid-template-areas:
    "title"
    "subtitle"
    "info";

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

  @include breakpoint($md) {
    grid-template-columns: max-content auto max-content;
    grid-template-areas:
      "title subtitle info";
  }
}

h1.site-name {
  grid-area: title;
  padding: .5rem;
  margin: 0;
  border-bottom: 1px solid $c--primary--lightest;

  @include breakpoint($md) {
    border-bottom: 0;
    border-right: 1px solid $c--primary--lightest;
    height: 100%;
  }
}

.block-views-blockepisode-title-episode-title-block {
  grid-area: subtitle;
  padding: .5rem;
  border-bottom: 1px solid $c--primary--lightest;

  @include breakpoint($md) {
    border-bottom: 0;
    border-right: 1px solid $c--primary--lightest;
    height: 100%;
  }
}

.block-views-blockepisode-title-episode-air-date-block {
  grid-area: info;
  padding: .5rem;

  @include breakpoint($md) {
    height: 100%;
  }
}

h1.site-name a,
h2.page-title,
h3.episode-date {
  line-height: 1;
  margin: -.065em 0 0 0;
}
