.song-teaser {
  margin-bottom: .5em;
  border: 1px solid $c--gray--light;
  padding: .5em;
  background-color: rgba($c--white, .75);
  line-height: $line-height--small;

  &:hover {
    background-color: $c--white;
    cursor: pointer;
  }

  .song-title {
    font-size: $font-size--md;
    margin-bottom: $gutter--xxs;
  }

  .section--details {
    font-size: .9em;
  }
}

div.all-inline-blocks:not(.layout-builder__layout) {

  div {
    display: inline;
  }
}

