html {
  font-size: $html-font-size;
}

body {
  font-family: $font-family--base;
  font-size: $font-size--md;
  font-weight: $font-weight--base;
  line-height: $line-height--base;
  color: $font-color--base;
}

p,
ul,
.paragraph {
  margin:  0 0 $gutter--default;
  padding: 0;
  line-height: $line-height--base;
}

ul {
  padding-left: $gutter--wider;
}

ul > li {
  margin-bottom: $gutter--narrowest;
}

li > ul {
  margin-top: $gutter--narrowest;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family--heading;
  font-weight: $font-weight--heading;
  line-height: $line-height--heading;
  margin: 0 0 $gutter--narrowest;
  padding: 0;
  color: $font-color--heading;
}

h1 {
  font-size: $font-size--3xl;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size--xxl;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size--xl;
  text-transform: uppercase;
}

h4 {
  font-size: $font-size--lg;
}

h5 {
  font-size: $font-size--sm;
}

a {
  color: $c--link;
  text-decoration: none;

  &:hover {
    color: $c--link--hover;
    text-decoration: underline;
  }
}

.site-name a {
  display: block;
  text-decoration: none;
  color: $c--primary--dark;

  &:hover {
    color: $c--primary--darkest;
  }
}

/*
 * Uncomment this section if you would like to use
 * viewport-based font sizing.
 */

//.section--content {
//  font-size: calc( #{$down-size} - #{$vw-rate-down} );
//
//  @include breakpoint($switch-point) {
//    font-size: calc( #{$up-size} + #{$vw-rate-up} );
//  }
//
//  @include breakpoint($xl) {
//    font-size: calc( #{$up-size} + #{$xl/100 * strip-unit($vw-rate-up)} );
//  }
//}
